.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.btn {
  width: 80px;
}

.btn + .btn {
  margin-top: 20px;
}

